Station56/node_red_integrator_emergency.json.txt
[{"id":"71ab9b05.f237c4","type":"OpcUa-Client","z":"32721861.f0b2c8","endpoint":"f38380f6.0d26d","action":"subscribe","time":"1","timeUnit":"s","name":"Target56","x":420,"y":80,"wires":[["322bf5f5.c7ad7a"]]},{"id":"b95680dc.0950e8","type":"OPCUA-IIoT-Inject","z":"32721861.f0b2c8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=IsEmergencyShutdown","repeat":"","crontab":"","once":true,"startDelay":"20","name":"","addressSpaceItems":[],"x":190,"y":80,"wires":[["71ab9b05.f237c4"]]},{"id":"3aaa73a5.6100ec","type":"OpcUa-Client","z":"32721861.f0b2c8","endpoint":"5eadcde2.2fe8e4","action":"write","time":"1","timeUnit":"s","name":"Target34","x":1220,"y":80,"wires":[[]]},{"id":"db7662a.65feaa","type":"OpcUa-Item","z":"32721861.f0b2c8","item":"ns=5;s=not_aus","datatype":"Boolean","value":"","name":"Emergency Shutdown (Target 34)","x":960,"y":80,"wires":[["3aaa73a5.6100ec"]]},{"id":"322bf5f5.c7ad7a","type":"switch","z":"32721861.f0b2c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["db7662a.65feaa","341df20c.6d2e7e"]]},{"id":"7335e630.de6b6","type":"OpcUa-Client","z":"32721861.f0b2c8","endpoint":"1943be8b.0c0761","action":"write","time":"1","timeUnit":"s","name":"Target12","x":1220,"y":160,"wires":[[]]},{"id":"341df20c.6d2e7e","type":"OpcUa-Item","z":"32721861.f0b2c8","item":"ns=5;s=EmergencyShutdown","datatype":"Boolean","value":"","name":"ns=5;s=EmergencyShutdown","x":940,"y":160,"wires":[["7335e630.de6b6"]]},{"id":"69e98639.49e408","type":"OpcUa-Client","z":"32721861.f0b2c8","endpoint":"f38380f6.0d26d","action":"write","time":"1","timeUnit":"s","name":"Target56","x":1220,"y":240,"wires":[[]]},{"id":"ea67e139.5d8058","type":"OpcUa-Item","z":"32721861.f0b2c8","item":"ns=5;s=EmergencyShutdown","datatype":"Boolean","value":"","name":"ns=5;s=EmergencyShutdown","x":940,"y":240,"wires":[["69e98639.49e408"]]},{"id":"7f8f0a6a.809fdc","type":"OpcUa-Client","z":"32721861.f0b2c8","endpoint":"1943be8b.0c0761","action":"subscribe","time":"1","timeUnit":"s","name":"Target12","x":420,"y":160,"wires":[["4366c56b.333ae4"]]},{"id":"d9845812.f9ae9","type":"OPCUA-IIoT-Inject","z":"32721861.f0b2c8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=EmergencyShutdown","repeat":"","crontab":"","once":true,"startDelay":"20","name":"","addressSpaceItems":[],"x":180,"y":160,"wires":[["7f8f0a6a.809fdc"]]},{"id":"304aa9f4.18bb4e","type":"OpcUa-Client","z":"32721861.f0b2c8","endpoint":"5eadcde2.2fe8e4","action":"subscribe","time":"1","timeUnit":"s","name":"Target34","x":420,"y":240,"wires":[["3b7caef9.163f52"]]},{"id":"6cee5811.725798","type":"OPCUA-IIoT-Inject","z":"32721861.f0b2c8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=not_aus","repeat":"","crontab":"","once":true,"startDelay":"20","name":"Emergency Shutdown (Target 34)","addressSpaceItems":[],"x":190,"y":240,"wires":[["304aa9f4.18bb4e"]]},{"id":"4366c56b.333ae4","type":"switch","z":"32721861.f0b2c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":160,"wires":[["db7662a.65feaa","ea67e139.5d8058"]]},{"id":"3b7caef9.163f52","type":"switch","z":"32721861.f0b2c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":240,"wires":[["341df20c.6d2e7e","ea67e139.5d8058"]]},{"id":"f38380f6.0d26d","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.162.68:55388/ITIA/Target56","login":false},{"id":"5eadcde2.2fe8e4","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.162.52:55388/ITIA/Target34","login":false},{"id":"1943be8b.0c0761","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.162.36:55388/ITIA/Target12","login":false}]