Station56/node_red_mqtt.json.txt
[{"id":"b22b707.de30c1","type":"OpcUa-Client","z":"92e289a.9ad8ef8","endpoint":"f38380f6.0d26d","action":"read","time":10,"timeUnit":"s","name":"Read Target56","x":520,"y":320,"wires":[["56c62db8.fca79c"]]},{"id":"13a8cfb6.8deff8","type":"OPCUA-IIoT-Inject","z":"92e289a.9ad8ef8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=CurrentWarningLevel;datatype=UInt16","repeat":"3","crontab":"","once":true,"startDelay":"30","name":"CurrentWarningLevel","addressSpaceItems":[],"x":250,"y":220,"wires":[["b22b707.de30c1"]]},{"id":"f8781e28.08c118","type":"mqtt out","z":"92e289a.9ad8ef8","name":"","topic":"ITIA/Target56/CurrentWarningLevel","qos":"","retain":"","broker":"6a447b16.53a2cc","x":920,"y":160,"wires":[]},{"id":"56c62db8.fca79c","type":"switch","z":"92e289a.9ad8ef8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ns=5;s=CurrentWarningLevel","vt":"str"},{"t":"eq","v":"ns=5;s=CurrentOperatingState","vt":"str"},{"t":"eq","v":"ns=5;s=BinsAreFull","vt":"str"},{"t":"eq","v":"ns=5;s=Ramp_1","vt":"str"},{"t":"eq","v":"ns=5;s=Ramp_2","vt":"str"},{"t":"eq","v":"ns=5;s=Ramp_3","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":670,"y":320,"wires":[["f8781e28.08c118"],["7352799.3a7b908"],["da53a10f.7e8648"],["bbca14a.c49b0e8"],["bcbfb50.7045648"],["9a908ef2.b0d9e"]]},{"id":"908c3beb.f95d5","type":"OPCUA-IIoT-Inject","z":"92e289a.9ad8ef8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=CurrentOperatingState;datatype=UInt16","repeat":"3","crontab":"","once":true,"startDelay":"30","name":"CurrentOperatingState","addressSpaceItems":[],"x":250,"y":260,"wires":[["b22b707.de30c1"]]},{"id":"a1938bab.3ac678","type":"OPCUA-IIoT-Inject","z":"92e289a.9ad8ef8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=BinsAreFull;datatype=Boolean","repeat":"3","crontab":"","once":true,"startDelay":"30","name":"BinsAreFull","addressSpaceItems":[],"x":220,"y":300,"wires":[["b22b707.de30c1"]]},{"id":"7352799.3a7b908","type":"mqtt out","z":"92e289a.9ad8ef8","name":"","topic":"ITIA/Target56/CurrentOperatingState","qos":"","retain":"","broker":"6a447b16.53a2cc","x":930,"y":220,"wires":[]},{"id":"da53a10f.7e8648","type":"mqtt out","z":"92e289a.9ad8ef8","name":"","topic":"ITIA/Target56/BinsAreFull","qos":"","retain":"","broker":"6a447b16.53a2cc","x":890,"y":280,"wires":[]},{"id":"d428a2bf.ade7b8","type":"OPCUA-IIoT-Inject","z":"92e289a.9ad8ef8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=Ramp_1;datatype=UInt16","repeat":"3","crontab":"","once":true,"startDelay":"30","name":"Ramp_1","addressSpaceItems":[],"x":210,"y":340,"wires":[["b22b707.de30c1"]]},{"id":"2584ef9f.532d2","type":"OPCUA-IIoT-Inject","z":"92e289a.9ad8ef8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=Ramp_2;datatype=UInt16","repeat":"3","crontab":"","once":true,"startDelay":"30","name":"Ramp_2","addressSpaceItems":[],"x":210,"y":380,"wires":[["b22b707.de30c1"]]},{"id":"e5041285.5679f","type":"OPCUA-IIoT-Inject","z":"92e289a.9ad8ef8","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=Ramp_3;datatype=UInt16","repeat":"3","crontab":"","once":true,"startDelay":"30","name":"Ramp_3","addressSpaceItems":[],"x":210,"y":420,"wires":[["b22b707.de30c1"]]},{"id":"bbca14a.c49b0e8","type":"mqtt out","z":"92e289a.9ad8ef8","name":"","topic":"ITIA/Target56/FillingLevel/Ramp_1","qos":"","retain":"","broker":"6a447b16.53a2cc","x":920,"y":340,"wires":[]},{"id":"bcbfb50.7045648","type":"mqtt out","z":"92e289a.9ad8ef8","name":"","topic":"ITIA/Target56/FillingLevel/Ramp_2","qos":"","retain":"","broker":"6a447b16.53a2cc","x":920,"y":400,"wires":[]},{"id":"9a908ef2.b0d9e","type":"mqtt out","z":"92e289a.9ad8ef8","name":"","topic":"ITIA/Target56/FillingLevel/Ramp_3","qos":"","retain":"","broker":"6a447b16.53a2cc","x":920,"y":460,"wires":[]},{"id":"8f958952.c52ce8","type":"mqtt in","z":"92e289a.9ad8ef8","name":"TurnOn","topic":"ITIA/Target56/TurnOn","qos":"2","broker":"6a447b16.53a2cc","x":70,"y":540,"wires":[["35458e8e.7fdf1a"]]},{"id":"5c0a50fb.5460b","type":"OpcUa-Client","z":"92e289a.9ad8ef8","endpoint":"f38380f6.0d26d","action":"write","time":10,"timeUnit":"s","name":"Write Target56","x":640,"y":580,"wires":[[]]},{"id":"b292a65d.c12ac","type":"OpcUa-Item","z":"92e289a.9ad8ef8","item":"ns=5;s=TurnOn","datatype":"Boolean","value":"","name":"TurnOn","x":460,"y":540,"wires":[["5c0a50fb.5460b"]]},{"id":"81ad2952.6a203","type":"mqtt in","z":"92e289a.9ad8ef8","name":"Shutdown","topic":"ITIA/Target56/EmergencyShutdown","qos":"2","broker":"6a447b16.53a2cc","x":80,"y":600,"wires":[["97f09cf4.5aa4b"]]},{"id":"97cdd7da.9f9b6","type":"OpcUa-Item","z":"92e289a.9ad8ef8","item":"ns=5;s=EmergencyShutdown","datatype":"Boolean","value":"","name":"Shutdown","x":460,"y":600,"wires":[["5c0a50fb.5460b"]]},{"id":"97f09cf4.5aa4b","type":"function","z":"92e289a.9ad8ef8","name":"Turn \"1\" into true","func":"if (msg.payload == \"1\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":600,"wires":[["97cdd7da.9f9b6"]]},{"id":"35458e8e.7fdf1a","type":"function","z":"92e289a.9ad8ef8","name":"Turn \"1\" into true","func":"if (msg.payload == \"1\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["b292a65d.c12ac"]]},{"id":"f38380f6.0d26d","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.162.68:55388/ITIA/Target56","login":false},{"id":"6a447b16.53a2cc","type":"mqtt-broker","z":"","name":"","broker":"cdp.auto.tuwien.ac.at","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]