Station56/node_red_integrator_34-56.json.txt
[{"id":"22d312eb.8c5d36","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"f38380f6.0d26d","action":"subscribe","time":"1","timeUnit":"s","name":"Target56","x":560,"y":240,"wires":[["94cbe571.abd8b"]]},{"id":"ee5fe824.ea1ca","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=ReadyToAcceptNewPart","repeat":"","crontab":"","once":true,"startDelay":"20","name":"","addressSpaceItems":[],"x":310,"y":240,"wires":[["22d312eb.8c5d36"]]},{"id":"d4757dbc.acc96","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"5eadcde2.2fe8e4","action":"write","time":"1","timeUnit":"s","name":"Target34","x":1220,"y":240,"wires":[["cc6ed340.864bd"]]},{"id":"94cbe571.abd8b","type":"OpcUa-Item","z":"562dba2a.d94424","item":"ns=5;s=target_56_ready_for_handover","datatype":"Boolean","value":"","name":"ns=5;s=target_56_ready_for_handover","x":970,"y":240,"wires":[["d4757dbc.acc96"]]},{"id":"7f75a188.f8c4f8","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"5eadcde2.2fe8e4","action":"subscribe","time":"1","timeUnit":"s","name":"Target34","x":560,"y":120,"wires":[[]]},{"id":"b91b19.5013d4e8","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=target_34_has_new_workpiece_available","repeat":"","crontab":"","once":true,"startDelay":"20","name":"ns=5;s=target_34_has_new_workpiece_available","addressSpaceItems":[],"x":270,"y":120,"wires":[["7f75a188.f8c4f8"]]},{"id":"9ba6602a.23956","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"5eadcde2.2fe8e4","action":"subscribe","time":"1","timeUnit":"s","name":"Target34","x":560,"y":320,"wires":[["5ffa7db7.1b72e4","a614c877.93da38"]]},{"id":"75779168.0d7a5","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"true","payloadType":"bool","topic":"ns=5;s=finished_handover_to_56","repeat":"","crontab":"","once":true,"startDelay":"20","name":"ns=5;s=finished_handover_to_56","addressSpaceItems":[],"x":320,"y":320,"wires":[["9ba6602a.23956"]]},{"id":"14adffb4.43c6","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"f38380f6.0d26d","action":"write","time":"1","timeUnit":"s","name":"Target56","x":1220,"y":320,"wires":[["cc6ed340.864bd"]]},{"id":"5ffa7db7.1b72e4","type":"OpcUa-Item","z":"562dba2a.d94424","item":"ns=5;s=Target34PartDropped","datatype":"Boolean","value":"","name":"ns=5;s=Target34PartDropped","x":990,"y":320,"wires":[["14adffb4.43c6"]]},{"id":"ea19552c.920b18","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"f38380f6.0d26d","action":"write","time":"1","timeUnit":"s","name":"Target56","x":1220,"y":380,"wires":[["cc6ed340.864bd"]]},{"id":"73301b1f.c41e04","type":"OpcUa-Item","z":"562dba2a.d94424","item":"ns=5;s=NewPart","datatype":"UInt16","value":"","name":"ns=5;s=NewPart","x":1050,"y":380,"wires":[["ea19552c.920b18"]]},{"id":"9cc1c22a.cae","type":"OpcUa-Client","z":"562dba2a.d94424","endpoint":"5eadcde2.2fe8e4","action":"subscribe","time":"1","timeUnit":"s","name":"Target34","x":560,"y":380,"wires":[["73301b1f.c41e04"]]},{"id":"8ea2e54e.2a6228","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"","payloadType":"num","topic":"ns=5;s=workpiece_type_to_56","repeat":"","crontab":"","once":true,"startDelay":"20","name":"ns=5;s=workpiece_type_to_56","addressSpaceItems":[],"x":330,"y":380,"wires":[["9cc1c22a.cae"]]},{"id":"61dd70b.8dbcb9","type":"comment","z":"562dba2a.d94424","name":"Bedeutet: Arm in Position, Werkstück bereit zum Abwurf.","info":"","x":290,"y":160,"wires":[]},{"id":"cc6ed340.864bd","type":"debug","z":"562dba2a.d94424","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1460,"y":280,"wires":[]},{"id":"11b6d30e.6da20d","type":"comment","z":"562dba2a.d94424","name":"interessiert Target56 nicht!","info":"","x":750,"y":120,"wires":[]},{"id":"a614c877.93da38","type":"debug","z":"562dba2a.d94424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":520,"wires":[]},{"id":"f38380f6.0d26d","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.162.68:55388/ITIA/Target56","login":false},{"id":"5eadcde2.2fe8e4","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.162.52:55388/ITIA/Target34","login":false}]