Station56/node_red_integrator_34-56.json.txt
[{"id":"d4350a2d.b46d5","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"0.5","crontab":"","once":false,"startDelay":"20","name":"ns=5;s=ReadyToAcceptNewPart","addressSpaceItems":[{"name":"ReadyToAcceptNewPart","nodeId":"ns=5;s=ReadyToAcceptNewPart","datatypeName":"Boolean"}],"x":200,"y":140,"wires":[["1d9a612b.386ee7"]]},{"id":"1d9a612b.386ee7","type":"OPCUA-IIoT-Read","z":"562dba2a.d94424","attributeId":0,"maxAge":1,"depth":1,"connector":"cca7d712.4bed78","name":"Read Target56","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"x":440,"y":140,"wires":[["2337ec89.72c3b4"]]},{"id":"2337ec89.72c3b4","type":"function","z":"562dba2a.d94424","name":"transform","func":"\nreturn {payload: msg.payload[0].value};","outputs":1,"noerr":0,"x":620,"y":140,"wires":[["6e102ad4.17b144"]]},{"id":"33b7b1f1.8a8646","type":"OPCUA-IIoT-Write","z":"562dba2a.d94424","connector":"48b3e643.13f2a8","name":"Write Target34","justValue":false,"showStatusActivities":true,"showErrors":true,"x":1160,"y":140,"wires":[["33f1c381.0825b4"]]},{"id":"6e102ad4.17b144","type":"OPCUA-IIoT-Node","z":"562dba2a.d94424","injectType":"write","nodeId":"ns=5;s=target_56_ready_for_handover","datatype":"Boolean","value":"","name":"ns=5;s=target_56_ready_for_handover","topic":"","showErrors":true,"x":880,"y":140,"wires":[["33b7b1f1.8a8646"]]},{"id":"33f1c381.0825b4","type":"OPCUA-IIoT-Response","z":"562dba2a.d94424","name":"","showStatusActivities":false,"showErrors":false,"x":1330,"y":140,"wires":[[]]},{"id":"718af23a.1c4f84","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"0.5","crontab":"","once":false,"startDelay":"20","name":"ns=5;s=finished_handover_to_56","addressSpaceItems":[{"name":"finished_handover_to_56","nodeId":"ns=5;s=finished_handover_to_56","datatypeName":"Boolean"}],"x":200,"y":200,"wires":[["c0cfc635.e1fc3"]]},{"id":"c0cfc635.e1fc3","type":"OPCUA-IIoT-Read","z":"562dba2a.d94424","attributeId":0,"maxAge":1,"depth":1,"connector":"48b3e643.13f2a8","name":"Read Target34","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"x":440,"y":200,"wires":[["b39c590a.6409d8"]]},{"id":"b39c590a.6409d8","type":"function","z":"562dba2a.d94424","name":"transform","func":"\nreturn {payload: msg.payload[0].value};","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["35ee1d98.c6259a"]]},{"id":"7099791a.2c114","type":"OPCUA-IIoT-Write","z":"562dba2a.d94424","connector":"cca7d712.4bed78","name":"Write Target56","justValue":false,"showStatusActivities":true,"showErrors":true,"x":1160,"y":200,"wires":[["481e48f6.b4059"]]},{"id":"35ee1d98.c6259a","type":"OPCUA-IIoT-Node","z":"562dba2a.d94424","injectType":"write","nodeId":"ns=5;s=Target34PartDropped","datatype":"Boolean","value":"","name":"ns=5;s=Target34PartDropped","topic":"","showErrors":true,"x":850,"y":200,"wires":[["7099791a.2c114"]]},{"id":"481e48f6.b4059","type":"OPCUA-IIoT-Response","z":"562dba2a.d94424","name":"","showStatusActivities":false,"showErrors":false,"x":1330,"y":200,"wires":[[]]},{"id":"e0183814.6dfda","type":"OPCUA-IIoT-Inject","z":"562dba2a.d94424","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"0.5","crontab":"","once":false,"startDelay":"20","name":"ns=5;s=workpiece_type_to_56","addressSpaceItems":[{"name":"workpiece_type_to_56","nodeId":"ns=5;s=workpiece_type_to_56","datatypeName":"UInt16"}],"x":190,"y":260,"wires":[["7b14e333.f659fc"]]},{"id":"7b14e333.f659fc","type":"OPCUA-IIoT-Read","z":"562dba2a.d94424","attributeId":0,"maxAge":1,"depth":1,"connector":"48b3e643.13f2a8","name":"Read Target34","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"x":440,"y":260,"wires":[["960e7f81.e4836"]]},{"id":"960e7f81.e4836","type":"function","z":"562dba2a.d94424","name":"transform","func":"\nreturn {payload: msg.payload[0].value};","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["56ba1b9b.1f2eec"]]},{"id":"2e355460.152a3c","type":"OPCUA-IIoT-Write","z":"562dba2a.d94424","connector":"cca7d712.4bed78","name":"Write Target56","justValue":false,"showStatusActivities":true,"showErrors":true,"x":1160,"y":260,"wires":[["3a166440.0601bc"]]},{"id":"56ba1b9b.1f2eec","type":"OPCUA-IIoT-Node","z":"562dba2a.d94424","injectType":"write","nodeId":"ns=5;s=NewPart","datatype":"UInt16","value":"","name":"ns=5;s=NewPart","topic":"","showErrors":true,"x":800,"y":260,"wires":[["2e355460.152a3c"]]},{"id":"3a166440.0601bc","type":"OPCUA-IIoT-Response","z":"562dba2a.d94424","name":"","showStatusActivities":false,"showErrors":false,"x":1330,"y":260,"wires":[[]]},{"id":"cca7d712.4bed78","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.162.68:55388/ITIA/Target56","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Target56","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"48b3e643.13f2a8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://autlab-opc-server-34.tilab.tuwien.ac.at:55388/ITIA/Target34","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Target34","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""}]