Station56/node_red_opc2sps.json.txt
[{"id":"3cef2662.cb7e22","type":"switch","z":"baf006aa.6312c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":120,"wires":[["b7512d47.21c5d","ff219da4.17ab6"],["b7512d47.21c5d"]]},{"id":"b7512d47.21c5d","type":"s7 out","z":"baf006aa.6312c8","endpoint":"38fd74b6.0bd944","variable":"turn_on","name":"","x":840,"y":220,"wires":[]},{"id":"cab077b5.d9091","type":"OPCUA-IIoT-Inject","z":"baf006aa.6312c8","injectType":"read","payload":"true","payloadType":"bool","topic":"","repeat":"1","crontab":"","once":true,"startDelay":"20","name":"Poll TurnOn","addressSpaceItems":[{"name":"test","nodeId":"ns=5;s=TurnOn","datatypeName":"Boolean"}],"x":140,"y":120,"wires":[["b88530ba.58a258"]]},{"id":"b88530ba.58a258","type":"OPCUA-IIoT-Read","z":"baf006aa.6312c8","attributeId":0,"maxAge":1,"depth":1,"connector":"b99b73fb.dd015","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":true,"x":310,"y":120,"wires":[["12b5cfae.c3049"]]},{"id":"12b5cfae.c3049","type":"OPCUA-IIoT-Result-Filter","z":"baf006aa.6312c8","nodeId":"ns=5;s=TurnOn","datatype":"Boolean","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":480,"y":120,"wires":[["3cef2662.cb7e22"]]},{"id":"ff219da4.17ab6","type":"function","z":"baf006aa.6312c8","name":"set to false","func":"\nreturn {payload: false};","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["c6396f55.9acbb8"]]},{"id":"c6396f55.9acbb8","type":"OPCUA-IIoT-Node","z":"baf006aa.6312c8","injectType":"write","nodeId":"ns=5;s=TurnOn","datatype":"Boolean","value":"","name":"Write TurnOn","topic":"","showErrors":true,"x":1020,"y":60,"wires":[["fbee20aa.007cc8"]]},{"id":"fbee20aa.007cc8","type":"OPCUA-IIoT-Write","z":"baf006aa.6312c8","connector":"b99b73fb.dd015","name":"","justValue":false,"showStatusActivities":false,"showErrors":true,"x":1210,"y":200,"wires":[["a370f8f5.3d8ae"]]},{"id":"a370f8f5.3d8ae","type":"OPCUA-IIoT-Response","z":"baf006aa.6312c8","name":"","showStatusActivities":false,"showErrors":false,"x":1350,"y":200,"wires":[[]]},{"id":"2706ec56.2ff7cc","type":"switch","z":"baf006aa.6312c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":360,"wires":[["b3da085b.749e9","2746440f.9c276c"],["b3da085b.749e9"]]},{"id":"b3da085b.749e9","type":"s7 out","z":"baf006aa.6312c8","endpoint":"38fd74b6.0bd944","variable":"emergency_shutdown","name":"","x":980,"y":400,"wires":[]},{"id":"6ad52481.2bca34","type":"OPCUA-IIoT-Inject","z":"baf006aa.6312c8","injectType":"read","payload":"true","payloadType":"bool","topic":"","repeat":"1","crontab":"","once":true,"startDelay":"20","name":"Poll EmergencyShutdown","addressSpaceItems":[{"name":"Shutdown","nodeId":"ns=5;s=EmergencyShutdown","datatypeName":"Boolean"}],"x":160,"y":360,"wires":[["6716f46c.21ebf4"]]},{"id":"6716f46c.21ebf4","type":"OPCUA-IIoT-Read","z":"baf006aa.6312c8","attributeId":0,"maxAge":1,"depth":1,"connector":"b99b73fb.dd015","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":true,"x":350,"y":360,"wires":[["b906669e.8b0668"]]},{"id":"b906669e.8b0668","type":"OPCUA-IIoT-Result-Filter","z":"baf006aa.6312c8","nodeId":"ns=5;s=EmergencyShutdown","datatype":"Boolean","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":540,"y":360,"wires":[["2706ec56.2ff7cc"]]},{"id":"2746440f.9c276c","type":"function","z":"baf006aa.6312c8","name":"set to false","func":"\nreturn {payload: false};","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["9b3f1caf.937b8"]]},{"id":"9b3f1caf.937b8","type":"OPCUA-IIoT-Node","z":"baf006aa.6312c8","injectType":"write","nodeId":"ns=5;s=EmergencyShutdown","datatype":"Boolean","value":"","name":"Write Shutdown","topic":"","showErrors":true,"x":1020,"y":300,"wires":[["fbee20aa.007cc8"]]},{"id":"ddbb92da.9f64d","type":"OPCUA-IIoT-Listener","z":"baf006aa.6312c8","connector":"b99b73fb.dd015","action":"subscribe","queueSize":10,"name":"ns=5;s=NewPart","justValue":true,"showStatusActivities":true,"showErrors":true,"x":300,"y":520,"wires":[["d813e8c3.d1a518"]]},{"id":"41486563.41f684","type":"OPCUA-IIoT-Inject","z":"baf006aa.6312c8","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"","crontab":"","once":true,"startDelay":"20","name":"","addressSpaceItems":[{"name":"NewPart","nodeId":"ns=5;s=NewPart","datatypeName":"UInt16"}],"x":110,"y":520,"wires":[["ddbb92da.9f64d"]]},{"id":"bf5a2905.6a7d3","type":"s7 out","z":"baf006aa.6312c8","endpoint":"38fd74b6.0bd944","variable":"uebergebene_farbe","name":"uebergebene_farbe","x":940,"y":520,"wires":[]},{"id":"d813e8c3.d1a518","type":"OPCUA-IIoT-Result-Filter","z":"baf006aa.6312c8","nodeId":"ns=5;s=NewPart","datatype":"UInt16","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":600,"y":520,"wires":[["bf5a2905.6a7d3"]]},{"id":"64b6d4a1.d3197c","type":"OPCUA-IIoT-Listener","z":"baf006aa.6312c8","connector":"b99b73fb.dd015","action":"subscribe","queueSize":10,"name":"ns=5;s=Target34PartDropped","justValue":true,"showStatusActivities":true,"showErrors":true,"x":350,"y":580,"wires":[["9b081594.3775d8"]]},{"id":"79c12c67.9e6734","type":"OPCUA-IIoT-Inject","z":"baf006aa.6312c8","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"","crontab":"","once":true,"startDelay":"20","name":"","addressSpaceItems":[{"name":"Target34PartDropped","nodeId":"ns=5;s=Target34PartDropped","datatypeName":"Boolean"}],"x":110,"y":580,"wires":[["64b6d4a1.d3197c"]]},{"id":"c2525226.0fac2","type":"s7 out","z":"baf006aa.6312c8","endpoint":"38fd74b6.0bd944","variable":"target_34_part_dropped","name":"target_34_part_dropped","x":950,"y":580,"wires":[]},{"id":"9b081594.3775d8","type":"OPCUA-IIoT-Result-Filter","z":"baf006aa.6312c8","nodeId":"ns=5;s=Target34PartDropped","datatype":"Boolean","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":650,"y":580,"wires":[["c2525226.0fac2"]]},{"id":"38fd74b6.0bd944","type":"s7 endpoint","z":"","address":"192.168.162.65","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"100","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB2,X32.0","name":"faecher_voll"},{"addr":"DB2,INT34","name":"warning_state"},{"addr":"DB2,INT36","name":"operating_state"},{"addr":"DB2,X38.0","name":"turn_on"},{"addr":"DB2,X38.1","name":"emergency_shutdown"},{"addr":"DB2,X14.1","name":"bereit_zur_annahme"},{"addr":"DB2,INT40","name":"uebergebene_farbe"},{"addr":"DB2,INT42","name":"ramp_1_count"},{"addr":"DB2,INT44","name":"ramp_2_count"},{"addr":"DB2,INT46","name":"ramp_3_count"},{"addr":"DB2,X48.0","name":"is_emergency_shutdown"},{"addr":"DB2,X48.1","name":"target_34_part_dropped"}]},{"id":"b99b73fb.dd015","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""}]