Station56/node_red_sps2opc.json.txt
[{"id":"1396aa75.5d9a96","type":"s7 in","z":"6ec2213c.dea01","endpoint":"38fd74b6.0bd944","mode":"all-split","variable":"faecher_voll","diff":true,"name":"SPS","x":270,"y":40,"wires":[["3ed48daa.53000a","d57ae3d8.f40c7"]]},{"id":"d57ae3d8.f40c7","type":"debug","z":"6ec2213c.dea01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":40,"wires":[]},{"id":"c389c4c3.faef","type":"OPCUA-IIoT-Inject","z":"6ec2213c.dea01","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":130,"y":540,"wires":[["f39fc48b.9219f8"]]},{"id":"73def126.58b688","type":"OPCUA-IIoT-Server","z":"6ec2213c.dea01","port":"55388","endpoint":"ITIA/Target56","acceptExternalCommands":true,"maxAllowedSessionNumber":"1000","maxConnectionsPerEndpoint":"1000","maxAllowedSubscriptionNumber":"1000","alternateHostname":"","name":"OPC-Server 56","showStatusActivities":true,"showErrors":true,"asoDemo":false,"allowAnonymous":true,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","maxNodesPerRead":"10000","maxNodesPerBrowse":"20000","x":820,"y":660,"wires":[["bf9ca35e.5663b"]]},{"id":"bf9ca35e.5663b","type":"debug","z":"6ec2213c.dea01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":660,"wires":[]},{"id":"5f85e1d4.a5d678","type":"OPCUA-IIoT-Discovery","z":"6ec2213c.dea01","name":"","x":100,"y":40,"wires":[[]]},{"id":"f39fc48b.9219f8","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=HandoverProtocol","browsename":"HandoverProtocol","displayname":"HandoverProtocol","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"HandoverProtocol","x":410,"y":540,"wires":[["73def126.58b688"]]},{"id":"d6892f36.41bdb8","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=ReadyToAcceptNewPart","browsename":"ReadyToAcceptNewPart","displayname":"ReadyToAcceptNewPart","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=5;s=HandoverProtocol","referencetype":"Organizes","name":"ReadyToAcceptNewPart","x":430,"y":580,"wires":[["73def126.58b688"]]},{"id":"91bf403f.adfd6","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=BinsAreFull","datatype":"Boolean","value":"","name":"Write BinsAreFull","topic":"","showErrors":true,"x":750,"y":40,"wires":[["45423428.3e35fc"]]},{"id":"45423428.3e35fc","type":"OPCUA-IIoT-Write","z":"6ec2213c.dea01","connector":"b99b73fb.dd015","name":"","justValue":false,"showStatusActivities":false,"showErrors":true,"x":1150,"y":240,"wires":[["1494b2e9.71c29d"]]},{"id":"1494b2e9.71c29d","type":"OPCUA-IIoT-Response","z":"6ec2213c.dea01","name":"","showStatusActivities":false,"showErrors":false,"x":1290,"y":240,"wires":[["2b97c3ea.1b77e4"]]},{"id":"2b97c3ea.1b77e4","type":"debug","z":"6ec2213c.dea01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":140,"wires":[]},{"id":"edc6c0e9.66c3c","type":"function","z":"6ec2213c.dea01","name":"init to false","func":"\nreturn {payload: false};","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["91bf403f.adfd6","2b5f2024.bc689","d0cd95f7.d94dd","5882c57a.35c18c","bb811f1a.cd6468","fcf3b952.3a5418"]]},{"id":"6662f7f1.dd51f","type":"OPCUA-IIoT-Inject","z":"6ec2213c.dea01","injectType":"inject","payload":"true","payloadType":"bool","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":110,"y":420,"wires":[["131be9cf.eec3f6","d6892f36.41bdb8","926358b5.c3fa98","9c02ea84.5cece8","1a90e9a2.b85b0e","eba36785.62dae8","8c4becd1.b537c"]]},{"id":"19997f87.a54198","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=NewPart","browsename":"NewPart","displayname":"NewPart","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=5;s=HandoverProtocol","referencetype":"Organizes","name":"NewPart","x":380,"y":620,"wires":[["73def126.58b688"]]},{"id":"927abff.ee50cc","type":"OPCUA-IIoT-Inject","z":"6ec2213c.dea01","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":130,"y":700,"wires":[["c10878a4.4f2038"]]},{"id":"c10878a4.4f2038","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=ControlAndErrorHandling","browsename":"ControlAndErrorHandling","displayname":"ControlAndErrorHandling","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"ControlAndErrorHandling","x":430,"y":700,"wires":[["73def126.58b688"]]},{"id":"926358b5.c3fa98","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=BinsAreFull","browsename":"BinsAreFull","displayname":"BinsAreFull","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=5;s=ControlAndErrorHandling","referencetype":"Organizes","name":"BinsAreFull","x":390,"y":740,"wires":[["73def126.58b688"]]},{"id":"589a3add.a6c9cc","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=CurrentWarningLevel","browsename":"CurrentWarningLevel","displayname":"CurrentWarningLevel","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=5;s=ControlAndErrorHandling","referencetype":"Organizes","name":"CurrentWarningLevel","x":420,"y":900,"wires":[["73def126.58b688"]]},{"id":"7310cb2d.9c7d9c","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=CurrentOperatingState","browsename":"CurrentOperatingState","displayname":"CurrentOperatingState","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=5;s=ControlAndErrorHandling","referencetype":"Organizes","name":"CurrentOperatingState","x":430,"y":940,"wires":[["73def126.58b688"]]},{"id":"9c02ea84.5cece8","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=EmergencyShutdown","browsename":"EmergencyShutdown","displayname":"EmergencyShutdown","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=5;s=ControlAndErrorHandling","referencetype":"Organizes","name":"EmergencyShutdown","x":420,"y":780,"wires":[["73def126.58b688"]]},{"id":"1a90e9a2.b85b0e","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=TurnOn","browsename":"TurnOn","displayname":"TurnOn","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=5;s=ControlAndErrorHandling","referencetype":"Organizes","name":"TurnOn","x":380,"y":820,"wires":[["73def126.58b688"]]},{"id":"131be9cf.eec3f6","type":"delay","z":"6ec2213c.dea01","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":420,"wires":[["edc6c0e9.66c3c"]]},{"id":"3ed48daa.53000a","type":"switch","z":"6ec2213c.dea01","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"faecher_voll","vt":"str"},{"t":"eq","v":"warning_state","vt":"str"},{"t":"eq","v":"operating_state","vt":"str"},{"t":"eq","v":"bereit_zur_annahme","vt":"str"},{"t":"eq","v":"ramp_1_count","vt":"str"},{"t":"eq","v":"ramp_2_count","vt":"str"},{"t":"eq","v":"ramp_3_count","vt":"str"},{"t":"eq","v":"is_emergency_shutdown","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":430,"y":120,"wires":[["91bf403f.adfd6"],["62a6fd0e.c7fa94","ddc6510c.ec505"],["17bb5e88.405291","84bfd1e6.c531a8"],["5882c57a.35c18c"],["c737705c.31f6f8","fd5b2cda.9d9818"],["b437ed0d.fa3838","e6134d99.22ec58"],["69c39911.23e0a","1039dc0.e3fbf24"],["bb811f1a.cd6468"]]},{"id":"62a6fd0e.c7fa94","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=CurrentWarningLevel","datatype":"UInt16","value":"","name":"Write CurrentWarningLevel","topic":"","showErrors":true,"x":780,"y":100,"wires":[["45423428.3e35fc"]]},{"id":"ad063afb.03584","type":"OPCUA-IIoT-Inject","z":"6ec2213c.dea01","injectType":"inject","payload":"0","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":110,"y":900,"wires":[["589a3add.a6c9cc","7310cb2d.9c7d9c","19997f87.a54198","bbb4cb92.dc13c8","bd814f19.eefc78","ea864067.2e71d8"]]},{"id":"2b5f2024.bc689","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=EmergencyShutdown","datatype":"Boolean","value":"","name":"Write EmergencyShutdown","topic":"","showErrors":true,"x":780,"y":520,"wires":[["45423428.3e35fc"]]},{"id":"d0cd95f7.d94dd","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=TurnOn","datatype":"Boolean","value":"","name":"Write TurnOn","topic":"","showErrors":true,"x":740,"y":480,"wires":[["45423428.3e35fc"]]},{"id":"17bb5e88.405291","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=CurrentOperatingState","datatype":"UInt16","value":"","name":"Write CurrentOperatingState","topic":"","showErrors":true,"x":780,"y":160,"wires":[["45423428.3e35fc"]]},{"id":"5882c57a.35c18c","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=ReadyToAcceptNewPart","datatype":"Boolean","value":"","name":"Write ReadyToAcceptNewPart","topic":"","showErrors":true,"x":790,"y":400,"wires":[["45423428.3e35fc"]]},{"id":"ca32e9af.947438","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=FillingLevel","browsename":"FillingLevel","displayname":"FillingLevel","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"FillingLevel","x":390,"y":980,"wires":[["73def126.58b688"]]},{"id":"f8d5c7d7.28f06","type":"OPCUA-IIoT-Inject","z":"6ec2213c.dea01","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":130,"y":980,"wires":[["ca32e9af.947438"]]},{"id":"bbb4cb92.dc13c8","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=Ramp_1","browsename":"Ramp_1","displayname":"Ramp_1","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=5;s=FillingLevel","referencetype":"Organizes","name":"Ramp_1","x":380,"y":1040,"wires":[["73def126.58b688"]]},{"id":"bd814f19.eefc78","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=Ramp_2","browsename":"Ramp_2","displayname":"Ramp_2","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=5;s=FillingLevel","referencetype":"Organizes","name":"Ramp_2","x":380,"y":1080,"wires":[["73def126.58b688"]]},{"id":"ea864067.2e71d8","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=Ramp_3","browsename":"Ramp_3","displayname":"Ramp_3","objecttype":"BaseDataVariableType","datatype":"UInt16","value":"","referenceNodeId":"ns=5;s=FillingLevel","referencetype":"Organizes","name":"Ramp_3","x":380,"y":1120,"wires":[["73def126.58b688"]]},{"id":"c737705c.31f6f8","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=Ramp_1","datatype":"UInt16","value":"","name":"Write Ramp_1","topic":"","showErrors":true,"x":740,"y":220,"wires":[["45423428.3e35fc"]]},{"id":"b437ed0d.fa3838","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=Ramp_2","datatype":"UInt16","value":"","name":"Write Ramp_2","topic":"","showErrors":true,"x":740,"y":260,"wires":[["45423428.3e35fc"]]},{"id":"69c39911.23e0a","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=Ramp_3","datatype":"UInt16","value":"","name":"Write Ramp_3","topic":"","showErrors":true,"x":740,"y":300,"wires":[["45423428.3e35fc"]]},{"id":"eba36785.62dae8","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=IsEmergencyShutdown","browsename":"IsEmergencyShutdown","displayname":"IsEmergencyShutdown","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=5;s=ControlAndErrorHandling","referencetype":"Organizes","name":"IsEmergencyShutdown","x":420,"y":860,"wires":[["73def126.58b688"]]},{"id":"bb811f1a.cd6468","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=IsEmergencyShutdown","datatype":"Boolean","value":"","name":"Write IsEmergencyShutdown","topic":"","showErrors":true,"x":780,"y":560,"wires":[["45423428.3e35fc"]]},{"id":"49d17cd8.dd6d4c","type":"ui_button","z":"6ec2213c.dea01","name":"EmerngencyShutdown","group":"40080747.c0fa98","order":0,"width":0,"height":0,"passthru":false,"label":"Emergency Shutdown","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":320,"y":280,"wires":[["2b5f2024.bc689"]]},{"id":"3f2f0be9.eaf89c","type":"ui_button","z":"6ec2213c.dea01","name":"TurnOn","group":"40080747.c0fa98","order":0,"width":0,"height":0,"passthru":false,"label":"Turn On","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":280,"y":320,"wires":[["d0cd95f7.d94dd"]]},{"id":"84bfd1e6.c531a8","type":"function","z":"6ec2213c.dea01","name":"to_string","func":"payload = \"\";\n\nif (msg.payload == 1) {\n    payload = \"INIT\";\n} else if (msg.payload == 2) {\n    payload = \"RUNNING\";\n}\n\nmsg.payload = payload;\nreturn msg","outputs":1,"noerr":0,"x":1040,"y":40,"wires":[["7880f3d1.6d96ac"]]},{"id":"7880f3d1.6d96ac","type":"ui_text","z":"6ec2213c.dea01","group":"40080747.c0fa98","order":0,"width":0,"height":0,"name":"","label":"Operating State","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":20,"wires":[]},{"id":"ddc6510c.ec505","type":"function","z":"6ec2213c.dea01","name":"to_string","func":"payload = \"?\";\n\nif (msg.payload == 0) {\n    payload = \"\";\n} else if (msg.payload == 1) {\n    payload = \"SHUTDOWN\";\n} else if (msg.payload == 2) {\n    payload = \"ERROR\";\n}\n\nmsg.payload = payload;\nreturn msg","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["2dabb052.ff09c8"]]},{"id":"2dabb052.ff09c8","type":"ui_text","z":"6ec2213c.dea01","group":"40080747.c0fa98","order":0,"width":0,"height":0,"name":"","label":"Warning State","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":80,"wires":[]},{"id":"fd5b2cda.9d9818","type":"ui_gauge","z":"6ec2213c.dea01","name":"","group":"40080747.c0fa98","order":0,"width":0,"height":0,"gtype":"gage","title":"Ramp 1","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":140,"y":120,"wires":[]},{"id":"e6134d99.22ec58","type":"ui_gauge","z":"6ec2213c.dea01","name":"","group":"40080747.c0fa98","order":0,"width":0,"height":0,"gtype":"gage","title":"Ramp 2","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":140,"y":160,"wires":[]},{"id":"1039dc0.e3fbf24","type":"ui_gauge","z":"6ec2213c.dea01","name":"","group":"40080747.c0fa98","order":0,"width":0,"height":0,"gtype":"gage","title":"Ramp 3","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":140,"y":200,"wires":[]},{"id":"8c4becd1.b537c","type":"OPCUA-IIoT-Server-ASO","z":"6ec2213c.dea01","nodeId":"ns=5;s=Target34PartDropped","browsename":"Target34PartDropped","displayname":"Target34PartDropped","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=5;s=HandoverProtocol","referencetype":"Organizes","name":"Target34PartDropped","x":420,"y":660,"wires":[["73def126.58b688"]]},{"id":"fcf3b952.3a5418","type":"OPCUA-IIoT-Node","z":"6ec2213c.dea01","injectType":"write","nodeId":"ns=5;s=Target34PartDropped","datatype":"Boolean","value":"","name":"Write Target34PartDropped","topic":"","showErrors":true,"x":780,"y":360,"wires":[["45423428.3e35fc"]]},{"id":"38fd74b6.0bd944","type":"s7 endpoint","z":"","address":"192.168.162.65","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"100","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB2,X32.0","name":"faecher_voll"},{"addr":"DB2,INT34","name":"warning_state"},{"addr":"DB2,INT36","name":"operating_state"},{"addr":"DB2,X38.0","name":"turn_on"},{"addr":"DB2,X38.1","name":"emergency_shutdown"},{"addr":"DB2,X14.1","name":"bereit_zur_annahme"},{"addr":"DB2,INT40","name":"uebergebene_farbe"},{"addr":"DB2,INT42","name":"ramp_1_count"},{"addr":"DB2,INT44","name":"ramp_2_count"},{"addr":"DB2,INT46","name":"ramp_3_count"},{"addr":"DB2,X48.0","name":"is_emergency_shutdown"},{"addr":"DB2,X48.1","name":"target_34_part_dropped"}]},{"id":"b99b73fb.dd015","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"40080747.c0fa98","type":"ui_group","z":"","name":"Default","tab":"4b9c9507.1615ac","disp":true,"width":"6","collapse":false},{"id":"4b9c9507.1615ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]