Station12/NodeRed_O.txt
[
    {
        "id": "6f73783f.7e9df",
        "type": "tab",
        "label": "Target12 <-> Target34",
        "disabled": false,
        "info": ""
    },
    {
        "id": "562dba2a.d94424",
        "type": "tab",
        "label": "Target34 <-> Target56",
        "disabled": false,
        "info": ""
    },
    {
        "id": "42ae517a.0f879",
        "type": "tab",
        "label": "Target12 MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34d08257.843d9e",
        "type": "tab",
        "label": "Target34 MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "92e289a.9ad8ef8",
        "type": "tab",
        "label": "Target56 MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32721861.f0b2c8",
        "type": "tab",
        "label": "Emergency Shutdown",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2fea8506.93ee0a",
        "type": "tab",
        "label": "Dashboard",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f38380f6.0d26d",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://192.168.162.68:55388/ITIA/Target56",
        "login": false
    },
    {
        "id": "531294e0.83215c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "1982e5c0.1d186a",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "531294e0.83215c",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a447b16.53a2cc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "cdp.auto.tuwien.ac.at",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fce00dc3.4bbe88",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1943be8b.0c0761",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://192.168.162.36:55388/ITIA/Target12",
        "login": false
    },
    {
        "id": "5eadcde2.2fe8e4",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://192.168.162.52:55388/ITIA/Target34",
        "login": false
    },
    {
        "id": "22d312eb.8c5d36",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "f38380f6.0d26d",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target56",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "94cbe571.abd8b"
            ]
        ]
    },
    {
        "id": "ee5fe824.ea1ca",
        "type": "OPCUA-IIoT-Inject",
        "z": "562dba2a.d94424",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=ReadyToAcceptNewPart",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "",
        "addressSpaceItems": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "22d312eb.8c5d36"
            ]
        ]
    },
    {
        "id": "d4757dbc.acc96",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "cc6ed340.864bd"
            ]
        ]
    },
    {
        "id": "94cbe571.abd8b",
        "type": "OpcUa-Item",
        "z": "562dba2a.d94424",
        "item": "ns=5;s=target_56_ready_for_handover",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=target_56_ready_for_handover",
        "x": 970,
        "y": 240,
        "wires": [
            [
                "d4757dbc.acc96"
            ]
        ]
    },
    {
        "id": "7f75a188.f8c4f8",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b91b19.5013d4e8",
        "type": "OPCUA-IIoT-Inject",
        "z": "562dba2a.d94424",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=target_34_has_new_workpiece_available",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "ns=5;s=target_34_has_new_workpiece_available",
        "addressSpaceItems": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "7f75a188.f8c4f8"
            ]
        ]
    },
    {
        "id": "71ab9b05.f237c4",
        "type": "OpcUa-Client",
        "z": "32721861.f0b2c8",
        "endpoint": "f38380f6.0d26d",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target56",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "322bf5f5.c7ad7a"
            ]
        ]
    },
    {
        "id": "b95680dc.0950e8",
        "type": "OPCUA-IIoT-Inject",
        "z": "32721861.f0b2c8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=IsEmergencyShutdown",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "",
        "addressSpaceItems": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "71ab9b05.f237c4"
            ]
        ]
    },
    {
        "id": "3aaa73a5.6100ec",
        "type": "OpcUa-Client",
        "z": "32721861.f0b2c8",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 1220,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "db7662a.65feaa",
        "type": "OpcUa-Item",
        "z": "32721861.f0b2c8",
        "item": "ns=5;s=not_aus",
        "datatype": "Boolean",
        "value": "",
        "name": "Emergency Shutdown (Target 34)",
        "x": 960,
        "y": 80,
        "wires": [
            [
                "3aaa73a5.6100ec"
            ]
        ]
    },
    {
        "id": "322bf5f5.c7ad7a",
        "type": "switch",
        "z": "32721861.f0b2c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "db7662a.65feaa",
                "341df20c.6d2e7e"
            ]
        ]
    },
    {
        "id": "7335e630.de6b6",
        "type": "OpcUa-Client",
        "z": "32721861.f0b2c8",
        "endpoint": "1943be8b.0c0761",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 1220,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "341df20c.6d2e7e",
        "type": "OpcUa-Item",
        "z": "32721861.f0b2c8",
        "item": "ns=5;s=EmergencyShutdown",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=EmergencyShutdown",
        "x": 940,
        "y": 160,
        "wires": [
            [
                "7335e630.de6b6"
            ]
        ]
    },
    {
        "id": "69e98639.49e408",
        "type": "OpcUa-Client",
        "z": "32721861.f0b2c8",
        "endpoint": "f38380f6.0d26d",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target56",
        "x": 1220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ea67e139.5d8058",
        "type": "OpcUa-Item",
        "z": "32721861.f0b2c8",
        "item": "ns=5;s=EmergencyShutdown",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=EmergencyShutdown",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "69e98639.49e408"
            ]
        ]
    },
    {
        "id": "7f8f0a6a.809fdc",
        "type": "OpcUa-Client",
        "z": "32721861.f0b2c8",
        "endpoint": "1943be8b.0c0761",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "4366c56b.333ae4"
            ]
        ]
    },
    {
        "id": "d9845812.f9ae9",
        "type": "OPCUA-IIoT-Inject",
        "z": "32721861.f0b2c8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=EmergencyShutdown",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "",
        "addressSpaceItems": [],
        "x": 180,
        "y": 160,
        "wires": [
            [
                "7f8f0a6a.809fdc"
            ]
        ]
    },
    {
        "id": "304aa9f4.18bb4e",
        "type": "OpcUa-Client",
        "z": "32721861.f0b2c8",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "3b7caef9.163f52"
            ]
        ]
    },
    {
        "id": "6cee5811.725798",
        "type": "OPCUA-IIoT-Inject",
        "z": "32721861.f0b2c8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=not_aus",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "Emergency Shutdown (Target 34)",
        "addressSpaceItems": [],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "304aa9f4.18bb4e"
            ]
        ]
    },
    {
        "id": "b22b707.de30c1",
        "type": "OpcUa-Client",
        "z": "92e289a.9ad8ef8",
        "endpoint": "f38380f6.0d26d",
        "action": "read",
        "time": 10,
        "timeUnit": "s",
        "name": "Read Target56",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "56c62db8.fca79c"
            ]
        ]
    },
    {
        "id": "13a8cfb6.8deff8",
        "type": "OPCUA-IIoT-Inject",
        "z": "92e289a.9ad8ef8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=CurrentWarningLevel;datatype=UInt16",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "startDelay": "30",
        "name": "CurrentWarningLevel",
        "addressSpaceItems": [],
        "x": 250,
        "y": 220,
        "wires": [
            [
                "b22b707.de30c1"
            ]
        ]
    },
    {
        "id": "f8781e28.08c118",
        "type": "mqtt out",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "topic": "ITIA/Target56/CurrentWarningLevel",
        "qos": "",
        "retain": "",
        "broker": "6a447b16.53a2cc",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "56c62db8.fca79c",
        "type": "switch",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ns=5;s=CurrentWarningLevel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ns=5;s=CurrentOperatingState",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ns=5;s=BinsAreFull",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ns=5;s=Ramp_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ns=5;s=Ramp_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ns=5;s=Ramp_3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "f8781e28.08c118"
            ],
            [
                "7352799.3a7b908"
            ],
            [
                "da53a10f.7e8648"
            ],
            [
                "bbca14a.c49b0e8"
            ],
            [
                "bcbfb50.7045648"
            ],
            [
                "9a908ef2.b0d9e"
            ]
        ]
    },
    {
        "id": "908c3beb.f95d5",
        "type": "OPCUA-IIoT-Inject",
        "z": "92e289a.9ad8ef8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=CurrentOperatingState;datatype=UInt16",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "startDelay": "30",
        "name": "CurrentOperatingState",
        "addressSpaceItems": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "b22b707.de30c1"
            ]
        ]
    },
    {
        "id": "a1938bab.3ac678",
        "type": "OPCUA-IIoT-Inject",
        "z": "92e289a.9ad8ef8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=BinsAreFull;datatype=Boolean",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "startDelay": "30",
        "name": "BinsAreFull",
        "addressSpaceItems": [],
        "x": 220,
        "y": 300,
        "wires": [
            [
                "b22b707.de30c1"
            ]
        ]
    },
    {
        "id": "7352799.3a7b908",
        "type": "mqtt out",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "topic": "ITIA/Target56/CurrentOperatingState",
        "qos": "",
        "retain": "",
        "broker": "6a447b16.53a2cc",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "da53a10f.7e8648",
        "type": "mqtt out",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "topic": "ITIA/Target56/BinsAreFull",
        "qos": "",
        "retain": "",
        "broker": "6a447b16.53a2cc",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "d428a2bf.ade7b8",
        "type": "OPCUA-IIoT-Inject",
        "z": "92e289a.9ad8ef8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=Ramp_1;datatype=UInt16",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "startDelay": "30",
        "name": "Ramp_1",
        "addressSpaceItems": [],
        "x": 210,
        "y": 340,
        "wires": [
            [
                "b22b707.de30c1"
            ]
        ]
    },
    {
        "id": "2584ef9f.532d2",
        "type": "OPCUA-IIoT-Inject",
        "z": "92e289a.9ad8ef8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=Ramp_2;datatype=UInt16",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "startDelay": "30",
        "name": "Ramp_2",
        "addressSpaceItems": [],
        "x": 210,
        "y": 380,
        "wires": [
            [
                "b22b707.de30c1"
            ]
        ]
    },
    {
        "id": "e5041285.5679f",
        "type": "OPCUA-IIoT-Inject",
        "z": "92e289a.9ad8ef8",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=Ramp_3;datatype=UInt16",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "startDelay": "30",
        "name": "Ramp_3",
        "addressSpaceItems": [],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "b22b707.de30c1"
            ]
        ]
    },
    {
        "id": "bbca14a.c49b0e8",
        "type": "mqtt out",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "topic": "ITIA/Target56/FillingLevel/Ramp_1",
        "qos": "",
        "retain": "",
        "broker": "6a447b16.53a2cc",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "bcbfb50.7045648",
        "type": "mqtt out",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "topic": "ITIA/Target56/FillingLevel/Ramp_2",
        "qos": "",
        "retain": "",
        "broker": "6a447b16.53a2cc",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a908ef2.b0d9e",
        "type": "mqtt out",
        "z": "92e289a.9ad8ef8",
        "name": "",
        "topic": "ITIA/Target56/FillingLevel/Ramp_3",
        "qos": "",
        "retain": "",
        "broker": "6a447b16.53a2cc",
        "x": 920,
        "y": 460,
        "wires": []
    },
    {
        "id": "8f958952.c52ce8",
        "type": "mqtt in",
        "z": "92e289a.9ad8ef8",
        "name": "TurnOn",
        "topic": "ITIA/Target56/TurnOn",
        "qos": "2",
        "broker": "6a447b16.53a2cc",
        "x": 70,
        "y": 540,
        "wires": [
            [
                "35458e8e.7fdf1a"
            ]
        ]
    },
    {
        "id": "5c0a50fb.5460b",
        "type": "OpcUa-Client",
        "z": "92e289a.9ad8ef8",
        "endpoint": "f38380f6.0d26d",
        "action": "write",
        "time": 10,
        "timeUnit": "s",
        "name": "Write Target56",
        "x": 640,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b292a65d.c12ac",
        "type": "OpcUa-Item",
        "z": "92e289a.9ad8ef8",
        "item": "ns=5;s=TurnOn",
        "datatype": "Boolean",
        "value": "",
        "name": "TurnOn",
        "x": 460,
        "y": 540,
        "wires": [
            [
                "5c0a50fb.5460b"
            ]
        ]
    },
    {
        "id": "81ad2952.6a203",
        "type": "mqtt in",
        "z": "92e289a.9ad8ef8",
        "name": "Shutdown",
        "topic": "ITIA/Target56/EmergencyShutdown",
        "qos": "2",
        "broker": "6a447b16.53a2cc",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "97f09cf4.5aa4b"
            ]
        ]
    },
    {
        "id": "97cdd7da.9f9b6",
        "type": "OpcUa-Item",
        "z": "92e289a.9ad8ef8",
        "item": "ns=5;s=EmergencyShutdown",
        "datatype": "Boolean",
        "value": "",
        "name": "Shutdown",
        "x": 460,
        "y": 600,
        "wires": [
            [
                "5c0a50fb.5460b"
            ]
        ]
    },
    {
        "id": "4366c56b.333ae4",
        "type": "switch",
        "z": "32721861.f0b2c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "db7662a.65feaa",
                "ea67e139.5d8058"
            ]
        ]
    },
    {
        "id": "30058c9a.5abed4",
        "type": "mqtt in",
        "z": "42ae517a.0f879",
        "name": "TurnOn",
        "topic": "ITIA/Target12/TurnOn",
        "qos": "2",
        "broker": "6a447b16.53a2cc",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "7de9b329.639d2c"
            ]
        ]
    },
    {
        "id": "b6bf0025.7f3aa",
        "type": "OpcUa-Client",
        "z": "42ae517a.0f879",
        "endpoint": "1943be8b.0c0761",
        "action": "write",
        "time": 10,
        "timeUnit": "s",
        "name": "Target12",
        "x": 700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7de9b329.639d2c",
        "type": "OpcUa-Item",
        "z": "42ae517a.0f879",
        "item": "ns=5;s=TurnOn",
        "datatype": "Boolean",
        "value": "",
        "name": "TurnOn",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "b6bf0025.7f3aa"
            ]
        ]
    },
    {
        "id": "9bc0a42d.a3dfa8",
        "type": "mqtt in",
        "z": "42ae517a.0f879",
        "name": "Shutdown",
        "topic": "ITIA/Target12/Shutdown",
        "qos": "2",
        "broker": "6a447b16.53a2cc",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "59cd4766.0da128"
            ]
        ]
    },
    {
        "id": "59cd4766.0da128",
        "type": "OpcUa-Item",
        "z": "42ae517a.0f879",
        "item": "ns=5;s=Shutdown",
        "datatype": "Boolean",
        "value": "",
        "name": "Shutdown",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "b6bf0025.7f3aa"
            ]
        ]
    },
    {
        "id": "1c9994fd.67c16b",
        "type": "OpcUa-Client",
        "z": "42ae517a.0f879",
        "endpoint": "1943be8b.0c0761",
        "action": "read",
        "time": 10,
        "timeUnit": "s",
        "name": "Target12",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "57fcbe8.025c14"
            ]
        ]
    },
    {
        "id": "57fcbe8.025c14",
        "type": "mqtt out",
        "z": "42ae517a.0f879",
        "name": "",
        "topic": "ITIA/Target12/type",
        "qos": "2",
        "retain": "true",
        "broker": "6a447b16.53a2cc",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "53fa5cf2.a59f44",
        "type": "OPCUA-IIoT-Inject",
        "z": "42ae517a.0f879",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=TypeHandover;datatype=UInt16",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "Type",
        "addressSpaceItems": [],
        "x": 160,
        "y": 540,
        "wires": [
            [
                "1c9994fd.67c16b",
                "89bea1ea.e3c0f8"
            ]
        ]
    },
    {
        "id": "8b3b3e15.fbafe",
        "type": "mqtt in",
        "z": "42ae517a.0f879",
        "name": "EmergencyShutdown",
        "topic": "ITIA/Target12/EmergencyShutdown",
        "qos": "2",
        "broker": "6a447b16.53a2cc",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "eb63d8af.406868"
            ]
        ]
    },
    {
        "id": "eb63d8af.406868",
        "type": "OpcUa-Item",
        "z": "42ae517a.0f879",
        "item": "ns=5;s=EmergencyShutdown",
        "datatype": "Boolean",
        "value": "",
        "name": "EmergencyShutdown",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "b6bf0025.7f3aa"
            ]
        ]
    },
    {
        "id": "c1b3f400.95801",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 1200,
        "y": 180,
        "wires": [
            [
                "2eccc9cf.a28606"
            ]
        ]
    },
    {
        "id": "d6c979d8.24085",
        "type": "OpcUa-Item",
        "z": "6f73783f.7e9df",
        "item": "ns=5;s=target_12_ready_for_handover",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=target_12_ready_for_handover",
        "x": 890,
        "y": 180,
        "wires": [
            [
                "c1b3f400.95801"
            ]
        ]
    },
    {
        "id": "ce7d3417.c5f5a8",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "1943be8b.0c0761",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "d6c979d8.24085"
            ]
        ]
    },
    {
        "id": "67196aa8.b4927c",
        "type": "OPCUA-IIoT-Inject",
        "z": "6f73783f.7e9df",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=ReadyHandover",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "",
        "addressSpaceItems": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "ce7d3417.c5f5a8"
            ]
        ]
    },
    {
        "id": "9dc07b5c.309d58",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "2eccc9cf.a28606"
            ]
        ]
    },
    {
        "id": "bcffdb6e.f4cbf8",
        "type": "OpcUa-Item",
        "z": "6f73783f.7e9df",
        "item": "ns=5;s=finished_handover_from_12",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=finished_handover_from_12",
        "x": 940,
        "y": 500,
        "wires": [
            [
                "9dc07b5c.309d58"
            ]
        ]
    },
    {
        "id": "49db5a30.42b654",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "1943be8b.0c0761",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "bcffdb6e.f4cbf8",
                "ed91d8a4.1bafa8"
            ]
        ]
    },
    {
        "id": "62df88bb.ac63c8",
        "type": "OPCUA-IIoT-Inject",
        "z": "6f73783f.7e9df",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=DoneHandover",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "",
        "addressSpaceItems": [],
        "x": 180,
        "y": 500,
        "wires": [
            [
                "49db5a30.42b654"
            ]
        ]
    },
    {
        "id": "a8e65c5a.35baf",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 1180,
        "y": 620,
        "wires": [
            [
                "2eccc9cf.a28606"
            ]
        ]
    },
    {
        "id": "b3a25c63.f8c58",
        "type": "OpcUa-Item",
        "z": "6f73783f.7e9df",
        "item": "ns=5;s=workpiece_type_from_12",
        "datatype": "UInt16",
        "value": "",
        "name": "ns=5;s=workpiece_type_from_12",
        "x": 940,
        "y": 620,
        "wires": [
            [
                "a8e65c5a.35baf"
            ]
        ]
    },
    {
        "id": "37650d17.47a66a",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "1943be8b.0c0761",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "b3a25c63.f8c58"
            ]
        ]
    },
    {
        "id": "b239e13d.6b47f8",
        "type": "OPCUA-IIoT-Inject",
        "z": "6f73783f.7e9df",
        "injectType": "inject",
        "payload": "",
        "payloadType": "num",
        "topic": "ns=5;s=TypeHandover;datatype=UInt16",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "Type",
        "addressSpaceItems": [],
        "x": 110,
        "y": 620,
        "wires": [
            [
                "37650d17.47a66a"
            ]
        ]
    },
    {
        "id": "690fd554.78d284",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "1943be8b.0c0761",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 1200,
        "y": 340,
        "wires": [
            [
                "2eccc9cf.a28606"
            ]
        ]
    },
    {
        "id": "895b77fd.24eeb8",
        "type": "OpcUa-Item",
        "z": "6f73783f.7e9df",
        "item": "ns=5;s=Station2Ready",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=Station2Ready",
        "x": 960,
        "y": 340,
        "wires": [
            [
                "690fd554.78d284"
            ]
        ]
    },
    {
        "id": "8387cf52.e49ed8",
        "type": "OpcUa-Client",
        "z": "6f73783f.7e9df",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "e45a4b9d.eaf0b8",
                "895b77fd.24eeb8"
            ]
        ]
    },
    {
        "id": "f8ce10e4.5588c",
        "type": "OPCUA-IIoT-Inject",
        "z": "6f73783f.7e9df",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=ready_for_handover_from_12",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "ns=5;s=ready_for_handover_from_12",
        "addressSpaceItems": [],
        "x": 210,
        "y": 340,
        "wires": [
            [
                "8387cf52.e49ed8"
            ]
        ]
    },
    {
        "id": "7f50a92e.309e7",
        "type": "OpcUa-Client",
        "z": "42ae517a.0f879",
        "endpoint": "1943be8b.0c0761",
        "action": "read",
        "time": 10,
        "timeUnit": "s",
        "name": "Target12",
        "x": 480,
        "y": 620,
        "wires": [
            [
                "66d5c981.91d18",
                "be6f0f6e.c6138"
            ]
        ]
    },
    {
        "id": "66d5c981.91d18",
        "type": "mqtt out",
        "z": "42ae517a.0f879",
        "name": "",
        "topic": "ITIA/Target12/OnOff",
        "qos": "2",
        "retain": "true",
        "broker": "6a447b16.53a2cc",
        "x": 860,
        "y": 620,
        "wires": []
    },
    {
        "id": "811abd85.fa18e8",
        "type": "OPCUA-IIoT-Inject",
        "z": "42ae517a.0f879",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=OnOff;datatype=Boolean",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "20",
        "name": "OnOff",
        "addressSpaceItems": [],
        "x": 160,
        "y": 620,
        "wires": [
            [
                "7f50a92e.309e7",
                "f68034a9.9c2eb"
            ]
        ]
    },
    {
        "id": "89bea1ea.e3c0f8",
        "type": "debug",
        "z": "42ae517a.0f879",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "f68034a9.9c2eb",
        "type": "debug",
        "z": "42ae517a.0f879",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 740,
        "wires": []
    },
    {
        "id": "be6f0f6e.c6138",
        "type": "debug",
        "z": "42ae517a.0f879",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 680,
        "wires": []
    },
    {
        "id": "916a83f2.1e7c7",
        "type": "ui_numeric",
        "z": "2fea8506.93ee0a",
        "name": "",
        "label": "Typ Station 12",
        "group": "1982e5c0.1d186a",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "x": 820,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a878c8f8.c39e18",
        "type": "ui_switch",
        "z": "2fea8506.93ee0a",
        "name": "",
        "label": "ON Station 12",
        "group": "1982e5c0.1d186a",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 820,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4c380837.30d278",
        "type": "ui_switch",
        "z": "2fea8506.93ee0a",
        "name": "",
        "label": "EMERGENCY SHUTDOWN Station 12",
        "group": "1982e5c0.1d186a",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 900,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3637fc5d.9bb284",
        "type": "OpcUa-Client",
        "z": "2fea8506.93ee0a",
        "endpoint": "1943be8b.0c0761",
        "action": "read",
        "time": 10,
        "timeUnit": "s",
        "name": "Target12",
        "x": 460,
        "y": 60,
        "wires": [
            [
                "916a83f2.1e7c7"
            ]
        ]
    },
    {
        "id": "5d329373.c1524c",
        "type": "OPCUA-IIoT-Inject",
        "z": "2fea8506.93ee0a",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=TypeHandover;datatype=UInt16",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "20",
        "name": "Type",
        "addressSpaceItems": [],
        "x": 130,
        "y": 60,
        "wires": [
            [
                "3637fc5d.9bb284"
            ]
        ]
    },
    {
        "id": "fa308fcc.02e34",
        "type": "OpcUa-Client",
        "z": "2fea8506.93ee0a",
        "endpoint": "1943be8b.0c0761",
        "action": "read",
        "time": 10,
        "timeUnit": "s",
        "name": "Target12",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "a878c8f8.c39e18"
            ]
        ]
    },
    {
        "id": "2679a6e7.99b2fa",
        "type": "OPCUA-IIoT-Inject",
        "z": "2fea8506.93ee0a",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=OnOff;datatype=Boolean",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "20",
        "name": "OnOff",
        "addressSpaceItems": [],
        "x": 140,
        "y": 140,
        "wires": [
            [
                "fa308fcc.02e34"
            ]
        ]
    },
    {
        "id": "3e325f1a.cd0c5",
        "type": "OpcUa-Client",
        "z": "2fea8506.93ee0a",
        "endpoint": "1943be8b.0c0761",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target12",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "4c380837.30d278"
            ]
        ]
    },
    {
        "id": "af67c77e.453c98",
        "type": "OPCUA-IIoT-Inject",
        "z": "2fea8506.93ee0a",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=EmergencyShutdown",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": "20",
        "name": "EmergencyShutdown",
        "addressSpaceItems": [],
        "x": 180,
        "y": 220,
        "wires": [
            [
                "3e325f1a.cd0c5"
            ]
        ]
    },
    {
        "id": "3b7caef9.163f52",
        "type": "switch",
        "z": "32721861.f0b2c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "341df20c.6d2e7e",
                "ea67e139.5d8058"
            ]
        ]
    },
    {
        "id": "2eccc9cf.a28606",
        "type": "debug",
        "z": "6f73783f.7e9df",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1470,
        "y": 380,
        "wires": []
    },
    {
        "id": "9ba6602a.23956",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "5ffa7db7.1b72e4",
                "a614c877.93da38"
            ]
        ]
    },
    {
        "id": "75779168.0d7a5",
        "type": "OPCUA-IIoT-Inject",
        "z": "562dba2a.d94424",
        "injectType": "inject",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=5;s=finished_handover_to_56",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "ns=5;s=finished_handover_to_56",
        "addressSpaceItems": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "9ba6602a.23956"
            ]
        ]
    },
    {
        "id": "14adffb4.43c6",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "f38380f6.0d26d",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target56",
        "x": 1220,
        "y": 320,
        "wires": [
            [
                "cc6ed340.864bd"
            ]
        ]
    },
    {
        "id": "5ffa7db7.1b72e4",
        "type": "OpcUa-Item",
        "z": "562dba2a.d94424",
        "item": "ns=5;s=Target34PartDropped",
        "datatype": "Boolean",
        "value": "",
        "name": "ns=5;s=Target34PartDropped",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "14adffb4.43c6"
            ]
        ]
    },
    {
        "id": "ea19552c.920b18",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "f38380f6.0d26d",
        "action": "write",
        "time": "1",
        "timeUnit": "s",
        "name": "Target56",
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "cc6ed340.864bd"
            ]
        ]
    },
    {
        "id": "73301b1f.c41e04",
        "type": "OpcUa-Item",
        "z": "562dba2a.d94424",
        "item": "ns=5;s=NewPart",
        "datatype": "UInt16",
        "value": "",
        "name": "ns=5;s=NewPart",
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "ea19552c.920b18"
            ]
        ]
    },
    {
        "id": "9cc1c22a.cae",
        "type": "OpcUa-Client",
        "z": "562dba2a.d94424",
        "endpoint": "5eadcde2.2fe8e4",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Target34",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "73301b1f.c41e04"
            ]
        ]
    },
    {
        "id": "8ea2e54e.2a6228",
        "type": "OPCUA-IIoT-Inject",
        "z": "562dba2a.d94424",
        "injectType": "inject",
        "payload": "",
        "payloadType": "num",
        "topic": "ns=5;s=workpiece_type_to_56",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "20",
        "name": "ns=5;s=workpiece_type_to_56",
        "addressSpaceItems": [],
        "x": 330,
        "y": 380,
        "wires": [
            [
                "9cc1c22a.cae"
            ]
        ]
    },
    {
        "id": "4293b50a.52c69c",
        "type": "comment",
        "z": "6f73783f.7e9df",
        "name": "FRAGE: Wieso 20s delay zu Beginn?",
        "info": "",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "61dd70b.8dbcb9",
        "type": "comment",
        "z": "562dba2a.d94424",
        "name": "Bedeutet: Arm in Position, Werkstück bereit zum Abwurf.",
        "info": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc6ed340.864bd",
        "type": "debug",
        "z": "562dba2a.d94424",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1460,
        "y": 280,
        "wires": []
    },
    {
        "id": "11b6d30e.6da20d",
        "type": "comment",
        "z": "562dba2a.d94424",
        "name": "interessiert Target56 nicht!",
        "info": "",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed91d8a4.1bafa8",
        "type": "debug",
        "z": "6f73783f.7e9df",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "97f09cf4.5aa4b",
        "type": "function",
        "z": "92e289a.9ad8ef8",
        "name": "Turn \"1\" into true",
        "func": "if (msg.payload == \"1\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "97cdd7da.9f9b6"
            ]
        ]
    },
    {
        "id": "35458e8e.7fdf1a",
        "type": "function",
        "z": "92e289a.9ad8ef8",
        "name": "Turn \"1\" into true",
        "func": "if (msg.payload == \"1\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "b292a65d.c12ac"
            ]
        ]
    },
    {
        "id": "a614c877.93da38",
        "type": "debug",
        "z": "562dba2a.d94424",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "e45a4b9d.eaf0b8",
        "type": "debug",
        "z": "6f73783f.7e9df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 420,
        "wires": []
    }
]